@font-face {
    font-family:ye;
    src:url(fonts/YungJakesNewHandwriting-Regular.ttf)
}

body {
    background:black;
    color:white;
    font-family:'Montserrat', sans-serif;
}


#myVideo {
    position:fixed;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:.9;
}


.btn {
    color:blue;
    background-color:white;
}

.jumbotron {
    color:black;
    position:fixed;
    width:50%;
    top:15%;
    left:25%;
    opacity: .9;
}