body {
    background:white;
    font-family:'Montserrat', sans-serif;
}

.navigation {
    color:blue;
    text-align:left;
    position:relative;
    float:left;
    width:0px;
    left:20%;
/*    border:1px solid black;*/
}

.green {
    position:fixed;
    background-color:#D3CF70;
    height:50%;
    width:100%;
    top:0;
}

.grey {
    position:fixed;
    background-color:#CCC9C0; 
    height:10%;
    width:100%;
    top:50%;
}

.white {
    position:fixed;
    background-color:white;
    height:40%;
    width:100%;
    top:60%;
}

.jumbotron {
    font-family:'Montserrat', sans-serif;
    background-color:transparent;
    text-align:center;

    position:relative;
    width:35%;
    left:32.5%;
    padding:0;
    margin-top:2.5%;
}

.wallpaper {
    position:fixed;
    height:30%;
    top:35%;
    right:0;
}

.lead {
    font-size:50px;
    margin-bottom:20px;
}

.description {
    font-size:17px;
    margin-top:30px;
}

.me-pic {    
    width:45%;
    border-radius:50%;
    
    padding-top:5px;
    padding-bottom:0px;
    transition: transform .2s;   
    cursor:pointer;
}

.me-pic:hover {
  transform: scale(1.1);
}

.leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;
    overflow: hidden;
    z-index:-1;
}

.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(media/leaf.png) no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
}

.link {
    border-radius:100%;
    width:100px;
    position:relative;
    overflow: auto;
    z-index:2;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}