body {
    background:white;
    font-family:'Montserrat', sans-serif;
}

#me {
    overflow: hidden;
    border:5px black solid;
    border-radius:50%;

    position:relative;
    float:left;

    height:50vh;
    width:50vh;
    
    top:25vh;
    left:37.5vh;
}

.jumbotron {
    font-family:'Montserrat', sans-serif;
    border:5px black solid;
    background-color:white;
    
    position:relative;
    float:left;
    
    height:80vh;
    width:40%;
    
    top:10vh;
    left:20vh;
}

.vl {
    border-left:5vh solid black;
    height:100vh;
    left:50vh;
    position:absolute;
}

.v2 {
    border-left:5vh solid #FF0005;
    height:100vh;
    left:130vh;
    position:absolute;
}

.v3 {
      border: 1px solid red;
    position:absolute;
    top:-50vh;
    z-index:10;
}

.link {
    border-radius:100%;
    width:100px;
    position:relative;
}

.typewriter {
    text-align:center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
/*  margin: 0 auto;  Gives that scrolling effect as the typing happens */
  animation: 
    typing 1s steps(12, end),
    blink-caret .75s step-end ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
